@import '@styles/index.scss';


 

._leftDivFeatured {
    width: 75%;
    position: relative;
    overflow: hidden;
}

._rightDivContent {
  width: 25%;
  padding-left: 2.5%;
  height: 60vh;
}
 
._parent {
  display: inline-flex;
  width: 100%;
}


._imageDad {
  height: 60vh;
}

._img{
  width:100%;
  height: 100%;
}
