@import '../../../public/styles/index.scss';


@mixin opacity {
  opacity: 1;
}

._keywordsTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;

  & p {
    font-family: $helvetica;
    color: $white;
  }
}

._caseOfStudyTwo {
  font-size: 1.1rem;
}


._textDayTwo, ._keywordTextTwo{
  font-size: 0.9rem;
}

._leftDivFeatured {
		width: 55%;
		position: relative;
}

._imageDad {
  padding-left: 2.5%;
}

._rightDivContent {
  width: 45%;
  padding-right: 2.5%;
  display: flex;
  justify-content: flex-end;
}

._rightTextContent {
  width: 75%;
}


._textTwo, ._textThree {
	@include opacity;

}

._loremTextTwo {
  color: $white;
  font-size: 1.2rem;
  font-family: $helvetica;
	font-weight: 600;
  // @include opacity;
}

._featuredToolsTwo {
	position: absolute;
	right: -3rem;

	& p {
		text-align: center;
		color: $white;
		font-family: $helvetica;
	}
}

._toolsParentTwo {
	width: 2.2rem;
	height: 2.2rem;
	margin-top: 0.7rem;
}
