$helvetica: "HelveticaNeue";
$helveticaBold: "HeltevicaNeueBold";
$helveticaMedium: "HeltevicaNeueMedium";
$helveticaNormal: "Helvetica";
$helveticaNormalBold: "HeltevicaBold";
$helveticaNormalLight: "Heltevicalight"
